## 판다스 학습

### 라이브러리 추가

``` python
!pip3 install pandas
```

- Successfully installed ... : 최초 설치
- Requirement already installed : 이미 설치됨

In [1]:
!pip3 install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gukjinhan/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/gukjinhan/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### 판다스 라이브러리 로딩
``` python
import pandas as pd
```

In [2]:
import pandas as pd

### 판다스 기본
#### DataFrame 객체
- 파이썬 2차원 리스트(배열)와 동일
- 행(row) 각 하나의 유니크 데이터묶음
- 열(column) 유니크 데이터의 하나하나 특성

In [3]:
## 딕셔너리로 DataFrame 객체 생성 = 일반 2차원 리스트와 동일하게 생성 가능
data = {'이름':['성명건', '홍길동', '에슐리'], '나이':[47, 20, 40], '결혼':[True, False, True]}
df = pd.DataFrame(data=data)
df

    이름  나이     결혼
0  성명건  47   True
1  홍길동  20  False
2  에슐리  40   True

In [4]:
## 2차원 리스트 생성
data = [['성명건', 47, '부산', 'smg@naver.com', True], ['홍길동', 20, '서울', 'hgd@gmail.com', False],
        ['애슐리', 40, '경기', 'ashkey@nate.com', True],['홍길순', 18, '서울', 'hgs@gmail.com', False]]

data

[['성명건', 47, '부산', 'smg@naver.com', True],
 ['홍길동', 20, '서울', 'hgd@gmail.com', False],
 ['애슐리', 40, '경기', 'ashkey@nate.com', True],
 ['홍길순', 18, '서울', 'hgs@gmail.com', False]]

In [5]:
## 2차원 리스트로 DataFrame 객체 생성
df = pd.DataFrame(data=data, columns=['이름', '나이','주소', '이메일', '결혼'])
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashkey@nate.com   True
3  홍길순  18  서울    hgs@gmail.com  False

In [6]:
## DataFrame에서 데이터 조회(열) - 리스트는 for문을 써야지 출력가능
df['이름']

0    성명건
1    홍길동
2    애슐리
3    홍길순
Name: 이름, dtype: object

In [7]:
## DataFrame 조회(두개 열)
df[['이름', '나이']]

    이름  나이
0  성명건  47
1  홍길동  20
2  애슐리  40
3  홍길순  18

In [8]:
## DataFrame에서 행으로 조회
df.loc[0]

이름               성명건
나이                47
주소                부산
이메일    smg@naver.com
결혼              True
Name: 0, dtype: object

In [9]:
## DataFrame 행으로 조회
df.loc[[1, 3]]

    이름  나이  주소            이메일     결혼
1  홍길동  20  서울  hgd@gmail.com  False
3  홍길순  18  서울  hgs@gmail.com  False

In [10]:
# 현재 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashkey@nate.com   True
3  홍길순  18  서울    hgs@gmail.com  False

In [11]:
## 새 컬럼 추가
df['전번'] = ['010', '011', '017', '019']

In [12]:
# 추가된 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼   전번
0  성명건  47  부산    smg@naver.com   True  010
1  홍길동  20  서울    hgd@gmail.com  False  011
2  애슐리  40  경기  ashkey@nate.com   True  017
3  홍길순  18  서울    hgs@gmail.com  False  019

In [13]:
## 열 삭제, axis=0(행), 1(열)
df.drop('결혼', axis=1)

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashkey@nate.com  017
3  홍길순  18  서울    hgs@gmail.com  019

In [14]:
## drop()은 삭제하고 출력만해줌, 완전히 삭제하려면 implace 옵션을 사용
# inplace를 화면에 출력완됨
df.drop('결혼', axis=1, inplace=True) # 열로 삭제하려면

In [15]:
# 삭제를 확인
df

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashkey@nate.com  017
3  홍길순  18  서울    hgs@gmail.com  019

In [16]:
## 행추가
df.loc[4] = ['손흥민', 32, '런던', 'shm@gmail.com', '010']

In [17]:
df

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashkey@nate.com  017
3  홍길순  18  서울    hgs@gmail.com  019
4  손흥민  32  런던    shm@gmail.com  010

In [18]:
## 행삭제, 완전히 삭제할려면 inplace를 쓰거나 아니면 변수에 재할당
df2 = df.drop(3)

In [19]:
df2

    이름  나이  주소              이메일   전번
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashkey@nate.com  017
4  손흥민  32  런던    shm@gmail.com  010

In [20]:
## 행삭제 inplace ,행삭제는 axis=0만 사용 또는 생략
df.drop(2, axis=0, inplace=True)

In [21]:
df

    이름  나이  주소            이메일   전번
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울  hgs@gmail.com  019
4  손흥민  32  런던  shm@gmail.com  010

In [22]:
## 열이름을 변경
df.rename(columns={'전번':'휴대폰'}, inplace=True)

In [23]:
df

    이름  나이  주소            이메일  휴대폰
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울  hgs@gmail.com  019
4  손흥민  32  런던  shm@gmail.com  010

- 데이터 프레임은 파이썬 2차원 리스트와 동일하지만, 좀 더 사용하기 쉽도록 만든 클래스

### 시리즈 객체

-  파이썬에서 1차원 리스트(배열)
- 기리즈들을 그루핑한게 데이터 프레임
- 가장 최소 단위

In [24]:
data = [47, 20, 40, 18, 32]
srs = pd.Series(data=data)
srs

0    47
1    20
2    40
3    18
4    32
dtype: int64

In [25]:
## 데이터 프레임의 한 열을 가지고온 자료구조와 시리즈는 동일
type(df['나이'])

pandas.core.series.Series

In [26]:
type(srs)

pandas.core.series.Series

In [27]:
srs = pd.Series(data=data, index=['성명건', '홍길동', '애슐리', '홍길순', '손흥민'])
srs

성명건    47
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [28]:
## 조회
srs['손흥민']

32

In [29]:
## 값변경
srs['성명건'] = 48

In [30]:
srs

성명건    48
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [31]:
## 데이터프레임에서 한 행을 가져와도 시리즈.
df.loc[1]

이름               홍길동
나이                20
주소                서울
이메일    hgd@gmail.com
휴대폰              011
Name: 1, dtype: object

#### 데이터프레임 사용하기

- CSV, 엑셀파일 로드
- VS Code 플러그인, GrapeCity의 Exel Viewer를 설치
- 엑셀파일 로드할 때는 opernyxl 라이브러리를 추가 설치

```python
!pip3 install openpyxl
```

In [38]:
df_csv = pd.read_csv('/Users/gukjinhan/Documents/GitHub/bigdata-analysis-2024/day01/data/sample_1.csv')
df_csv

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb3 in position 4: invalid start byte

In [ ]:
## openpyxl 설치
!pip3 install openpyxl

Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [ ]:
## 엑셀 로드
df_xls = pd.read_excel('/Users/gukjinhan/Documents/GitHub/bigdata-analysis-2024/day01/data/sample_1.csv', header=1, skipfooter=2, engine='python' usecols=[0, 1, 2])
df_xls

ValueError: Excel file format cannot be determined, you must specify an engine manually.

- 엑셀, csv는 동일한 데이터라면 csv가 훨씬 용량이 적다.

In [ ]:
## DF 정보확인
df_csv.info()

NameError: name 'df_csv' is not defined

In [39]:
## 데이터 일부 보기(위에서 보기)
df_csv.head()

NameError: name 'df_csv' is not defined